# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
.venv_app/
env/

# SQLite
db.sqlite3

# Media
media/

# Static
staticfiles/

# VSCode
.vscode/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies